[Desktop Entry]
Version=0.17.6
Name=Runebase Core
Comment=Connect to the Runebase P2P Network
Exec=runebase-qt %u
Terminal=false
Type=Application
Icon=runebase128
MimeType=x-scheme-handler/runebase;
Categories=Network;
StartupWMClass=Runebase-qt
Name[en_US]=runebase-qt
