[Desktop Entry]
Version=0.17.6
Name=Runebase Core Testnet
Comment=Connect to the Runebase P2P Network Testnet
Exec=runebase-qt -testnet %u
Terminal=false
Type=Application
Icon=runebasetestnet128
MimeType=x-scheme-handler/runebase;
Categories=Network;
StartupWMClass=Runebase-qt-testnet
Name[en_US]=runebase-qt-testnet
